# Connecting to Quickstep with Python

## Import quickstep python library

The quickstep network api depends on grpc, so make sure you have the python grpc library installed.  For the most part, it should just require calling:

pip install grpcio 
pip install protobuf

In [81]:
import quickstep as q

## Set ip address and port to connect to

This defaults to "localhost" and the default port the quickstep network CLI uses.

In [82]:
"Default connection: \""+str(q.quickstepIP)+":"+str(q.quickstepPort)+"\""

'Default connection: "localhost:3000"'

## Send a freetext query

There are two main functions exist for querying quickstep depending on whether you would like the output formatted for you or not.

### Query and receive response as free-text

In [83]:
q.sql_to_text("CREATE TABLE newTable (id integer, name varchar(10));")

(u'Time: 0.200 ms\n', u'')

In [84]:
q.sql_to_text("INSERT INTO newTable VALUES (1,'FirstValue');")

(u'Time: 46.422 ms\n', u'')

### Query and receive response as panda data frame

In [85]:
q.sql_to_table("SELECT * FROM newTable;")

  id        name
0  1  FirstValue

## Access standard database information

### Get table information

In [86]:
q.tables()

[{'blocks': u'0', 'name': u'test', 'type': u'table'},
 {'blocks': u'1493', 'name': u'temp', 'type': u'table'},
 {'blocks': u'1', 'name': u'ab', 'type': u'table'},
 {'blocks': u'0', 'name': u'ab2', 'type': u'table'},
 {'blocks': u'1', 'name': u'ab3', 'type': u'table'},
 {'blocks': u'1951', 'name': u'wind', 'type': u'table'},
 {'blocks': u'1', 'name': u'parentChildRelationship', 'type': u'table'},
 {'blocks': u'1', 'name': u'newTable', 'type': u'table'}]

### Get column information

In [87]:
q.columns('newTable')

[{'name': u'id', 'type': u'Int'}, {'name': u'name', 'type': u'VarChar(10)'}]

 
 
 
 
## Cleanup from script

In [88]:
q.sql_to_text("DROP TABLE newTable;")

(u'Time: 0.876 ms\n', u'')